#container
    background-color: #302e2e
    border-radius: 1em
    margin: 1em
    min-width: 380px

@media (min-width: 700px)
    #container
        min-width: 600px

@media (min-width: 1000px)
    #container
        min-width: 900px

@media (min-width: 1500px)
    #container
        min-width: 1400px

#content
    display: flex
    flex-flow: column nowrap
    justify-content: center
    align-items: center
    padding: 2em

mat-card-actions
    display: flex
    flex-flow: column nowrap
    align-items: center
    padding: 2em

.input
    width: 100%

button
    width: 50%
