<section id="container">
    <form #form="ngForm" (ngSubmit)="login()">
        <mat-card-content id="content">
            <mat-error *ngIf="errorMsg">{{errorMsg}}</mat-error>
            <mat-form-field class="input">
                <mat-label>Login</mat-label>
                <input type="text" name="login" matInput placeholder="login.example" [(ngModel)]="credentials.login"
                    required>
                <!-- <mat-hint>Errors appear instantly!</mat-hint> -->
            </mat-form-field>
            <mat-form-field class="input">
                <mat-label>Password</mat-label>
                <input type="password" name="password" matInput placeholder="********"
                    [(ngModel)]="credentials.password" required>
                <!-- <mat-hint>Errors appear instantly!</mat-hint> -->
            </mat-form-field>
        </mat-card-content>
        <mat-card-actions>
            <button mat-raised-button color="accent" type="submit" [disabled]="loading || !form.valid">
                Entrar
            </button>
        </mat-card-actions>
    </form>
</section>